* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*header part*/
header {
    text-align: center;
    box-shadow: 0px 0px 20px rgb(224, 224, 224);
}

header h1 {
    font-size: 45px;
    color: tomato;
    margin-bottom: 40px;
}

.eat {
    color: rgb(255, 105, 11);
}

/*order part css*/
.part_text {
    width: 50%;
    padding: 90px 0 0 100px;
}

.part_text h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(65, 61, 61);
    line-height: 50px;
}

.skip {
    color: rgb(255, 120, 71);
}

.part_text p {
    font-size: 14px;
    color: grey;
    font-weight: 400px;
    line-height: 22px;
    padding: 20px 0;
}

.part_text a {
    font-size: 14px;
    padding: 8px 12px;
    color: #fff;
    background-color: rgb(255, 107, 54);
    border-radius: 50px;
}

.part_img {
    width: 50%;
    display: block;
}

.part_img img {
    width: 100%;
}

/*about part css*/
#about_part {
    width: 100%;
    background-image: url(images/7.png);
}

.about_img {
    width: 50%;
    display: block;
    padding: 60px 0 0 100px;
}

.about_img img {
    width: 65%;
}

.about_text {
    width: 50%;
    padding: 90px 0 0 100px;
}

.about_text h2 {
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.about_text p {
    font-size: 16px;
    color: rgb(63, 63, 63);
    font-weight: 400px;
    line-height: 28px;
    padding: 25px 0 50px 0;
}

.about_text a {
    font-size: 14px;
    padding: 8px 12px;
    color: #fff;
    background-color: rgb(255, 107, 54);
    border-radius: 50px;
}

/*recipies css*/
.my h2 {
    font-size: 30px;
    font-weight: bold;
    color: gray;
    text-align: center;
    margin-top: 50px;
}


.my p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(146, 145, 145);
    text-align: center;
    padding: 20px 0 25px 0;
}

.right_recipie {
    width: 48%;
    padding: 20px 20px 0 20px;
    box-shadow: 0 0 20px gray;
    border-radius: 20px;
}

.right_recipie img {
    width: 100%;
    height: 58%;
}

.right_recipie h2 {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0;
}

.right_recipie p {
    font-size: 16;
    font-weight: 400;
    line-height: 24px;
}


.space {
    width: 4%;
}


.left_recipie {
    width: 48%;
    padding: 20px 20px 0 20px;
    box-shadow: 0 0 20px gray;
    border-radius: 20px;
}

.left_recipie img {
    width: 100%;
    height: 58%;
}

.left_recipie h2 {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0;
}

.left_recipie p {
    font-size: 16;
    font-weight: 400;
    line-height: 24px;
}

/*socile*/
.socile_items {
    padding-top: 70px;
    padding-bottom: 70px;
}

.row_itme {
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px gray;
}

.youtube {
    width: 33.33%;
    text-align: center;
}

.youtube p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(136, 136, 136);
}

.instragram {
    width: 33.33%;
    text-align: center;
}

.instragram p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(136, 136, 136);
}

.dribbble {
    width: 33.33%;
    text-align: center;
}

.dribbble p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(136, 136, 136);
}

/*footer part*/
.footer {
    height: 150px;
    background-color: rgb(7, 3, 31);
}

.footer h1 {
    font-size: 25px;
    text-align: center;
    padding: 45px 0 20px;
}

.footer p {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: grey;
}

.fresh {
    color: gray;
}